#repositories
  ul
    list-style-type none
    margin 0
  li
    font-size 0.775rem
    color #777
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

tr.notifications--item
  &.read .subject a
    color: grey
  .subject .type
    width 22px
  .updated_at
    width 7em
  &.is-active
    background-color #eee
    border-bottom 1px solid black
  td.subject
    position: relative
  td.updated_at
    width 9em
  td.reason
    width 7em
  td.actions
    width 5em

a.notifications--item--toggle-subscription
  color grey
  &.selected
    // FIXME Find a better way of using the vendored color here
    color #008CBA

button.notifications--mute-until-here
  visibility hidden
  opacity 0
  transition visibility 0s linear 0.5s,opacity 0.5s linear
  position absolute
  left -10em
  tr.notifications--item td.subject:hover &, &:hover
    visibility visible
    opacity 1
    transition-delay 500ms

.spinner
  display inline-block
  background url(http://www.germania-weilbach.de/img/spinner.gif) no-repeat
  width 32px
  height 32px

